<% include partials/header %>
<div class="container rounded bg-success px-3 py-2">	

	<h1 class="display-4 text-center">
		Wellcome to Friends Manager!
	</h1>
	<div class="row py-3">
		<div class="col-3 mx-5">
			<form action="/signup" method="POST">
				<div class="form-group">
					<p class="lead">Sing Up Form</p>
					<input type="text" name="user[username]" placeholder="Username" class="my-2 form-control" autofocus>
					<input type="password" name="user[password]" placeholder="Password" class="my-2 form-control" autofocus>
					<input type="text" name="user[house]" placeholder="House" class="my-2 form-control">
					<button type="submit" class="my-2 btn btn-primary input-group-append">
						Sign Up!
					</button>
				</div>					
			</form>
		</div>
		<div class="col-3 mx-5">					
					<form class="pt-3" action="/login" method="POST">
						<div class="form-group">
							<p class="lead">Log In Form</p>
							<input type="text" name="username" placeholder="Username" class="my-2 form-control" autofocus>
							<input type="password" name="password" placeholder="Password" class="my-2 form-control" autofocus>
							<button type="submit" class="my-2 btn btn-primary input-group-append">
								Log In!
							</button>
						</div>
					</form>		
		</div>
	</div>
	
	<p class="lead">Users list (for debugging)</p>
	<div class="m-3">
		<ul class="list-group list-group-flush">
			<% users.forEach(function(user){ %>
			<a class="text-dark list-group-item" href= "/<%=user._id %>"" ><%= user.username %></a>
			<% }) %>
		</ul>
	</div>
	<a class="btn btn-primary" href="/logout">Log Out</a>
	<a class="btn btn-primary" href="/user">User Page</a>
	
</div>

<% include partials/footer %>